.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #00000030;
    padding: 10px 80px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(15px);
    height: 75px;
    z-index: 111;
}

.header--catalog {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #FFFFFF26;
    padding: 10px 80px;
    position: unset;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(15px);
    height: 75px;
    z-index: 111;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo-link {
    color: #fff;
    text-decoration: none;
}

.nav-link,
.icon-link {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
    white-space: nowrap;
}

.nav-link:hover,
.icon-link:hover {
    color: #f0f0f0;
}

.nav-link.active,
.icon-link.active {
  color: #724BB3;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        flex-wrap: wrap; 
        padding: 10px 20px;
        height: 60px;
        background: #000000;
    }

    .nav-left, 
    .nav-right {
        flex: 1;
        justify-content: flex-start;
    }
    
    .nav-left {
        font-family: 'Inter';
        font-size: 14px;
        font-weight: 400;
        gap: 33%;
        line-height: 16px;
        letter-spacing: 2.4px;
    }

    .nav-right {
        width: 40%;
        justify-content: flex-end;
        gap: 10px;
    }

    .logo {
        width: 100%;
        margin-top: -20px;
        text-align: center;
        order: 1;
        flex: 0 0 auto;
    }
    
    .nav-left {
        order: 2;
    }

    .nav-right {
        order: 3;
        justify-content: flex-end;
    }
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.search-input {
    width: calc(100% - 40px);
    height: 100%;
    padding: 18px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: transparent;
    text-shadow: 0 0 0 black;
    caret-color: black;
}

.search-input:focus {
    outline: none;
}

