.account {
    padding: 0 80px;
    margin: 0 auto;
    min-height: calc(100vh - 95px - 240px);
}

.trigger {
    font-size: 18px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

.trigger[data-state="active"] {
    text-decoration: underline;
}

.content {
 margin: 32px 0 24px;
}
